html, body, #mapid {
  overflow: hidden;
  background: #555555;
  height: 100%;
  margin: 0;
}
.inptBox {
  color: #333;
  width: 170px;
  height: 20px;
  position: inline-block;
  padding-left: 3px;
  padding-right: 10px;
  margin: 4px;
  transition: box-shadow 320ms;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 14px;
  border: 4px;
}
.inptBox:hover {
  outline: 0px;
  outline-offset: 0px;
  box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.button {
  margin: 10px 0px 0px 0px;
  color: white;
  height: 30px;
  background-color: #0074d9;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 320ms;
}
.button.disable {
  background-color: #6493bd;
}
.button:hover {
  box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.cursor-crosshair {
  cursor: crosshair !important;
}
.menu-image {
  height: 15px;
  width: 15px;
}
.info {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  color: white;
  width: 30px;
  height: 30px;
  background-color: #0074d9;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 320ms;
}
.info:hover {
  box-shadow: 0px 0px 1px 5px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* свойства модального окна по умолчанию */
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 10050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}